home_locate_db
ac-comphist.dat
auto-save-list
renn-private.el
renn-simplenote-private.el
url
url/cookies
*.*~
/history
\#*\#
tramp
bookmarks
elpa/archives
archive-contents
projectile-bookmarks.eld
/completions
nrepl-history
eshell